## Import Model

In [31]:
import numpy as np
import pandas as pd

## Import Data

In [4]:
data = pd.read_csv(f'C:/Users/pipatra.NSN-INTRA/Desktop/Anaconda/Projects/21-Sept/Rapido(Like_uber)/data/ct_rr.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data.head()

                    ts number   pick_lat   pick_lng   drop_lat   drop_lng
0  2018-04-07 07:07:17  14626  12.313621  76.658195  12.287301  76.602280
1  2018-04-07 07:32:27  85490  12.943947  77.560745  12.954014  77.543770
2  2018-04-07 07:36:44  05408  12.899603  77.587300  12.934780  77.569950
3  2018-04-07 07:38:00  58940  12.918229  77.607544  12.968971  77.636375
4  2018-04-07 07:39:29  05408  12.899490  77.587270  12.934780  77.569950

In [12]:
data.dtypes

ts           object
number       object
pick_lat    float64
pick_lng    float64
drop_lat    float64
drop_lng    float64
dtype: object

In [15]:
data.describe(include='all')

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng
count,8381556,8381556.0,8.381556e+06,8.381556e+06,8.381556e+06,8.381556e+06
unique,5889839,170392.0,NaN,NaN,NaN,NaN
top,2018-12-04 10:04:09,83997.0,NaN,NaN,NaN,NaN
freq,56,2603.0,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.301024e+01,7.762875e+01,1.301084e+01,7.760709e+01
std,NaN,NaN,9.032779e-01,4.490899e-01,9.516462e-01,1.475269e+00
min,NaN,NaN,-4.877217e+01,-9.395859e+01,-5.794684e+01,-1.278179e+02
25%,NaN,NaN,1.291638e+01,7.759511e+01,1.291627e+01,7.759272e+01
50%,NaN,NaN,1.293741e+01,7.761597e+01,1.293895e+01,7.761737e+01
75%,NaN,NaN,1.297118e+01,7.764515e+01,1.297307e+01,7.764706e+01
max,NaN,NaN,6.769665e+01,9.281412e+01,6.152401e+01,1.748860e+02

## Data Anamoly

Column-1 has mixed type of data

In [17]:
data.number.unique()

array(['14626', '85490', '05408', ..., 63595, 27648, 37558], dtype=object)

In [18]:
data.number = data.number.apply(int)

ValueError: invalid literal for int() with base 10: ' None'

In [19]:
int('1234')

1234

In [20]:
int(' None')

ValueError: invalid literal for int() with base 10: ' None'

In [21]:
data[data.number == ' None']

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng
5879,2018-04-07 11:28:40,None,12.916193,77.673790,12.960270,77.701230
42173,2018-04-11 08:40:23,None,12.890977,77.603355,12.927923,77.627106
46564,2018-04-11 10:23:53,None,13.007046,77.645710,12.905373,77.650700
49354,2018-04-11 21:35:35,None,12.887746,77.579155,12.980646,77.664910
72478,2018-04-13 08:16:48,None,13.006568,77.546900,12.999281,77.679970
81482,2018-04-15 01:59:26,None,12.949549,77.606270,12.936069,77.605484
85462,2018-04-16 19:06:06,None,12.967744,77.637550,13.004017,77.687775
85476,2018-04-16 19:22:08,None,12.919025,77.592120,12.960986,77.638730
90853,2018-04-16 10:46:44,None,12.886070,77.647160,12.903759,77.561844
90854,2018-04-16 10:47:15,None,12.886070,77.647160,12.903759,77.561844
94422,2018-04-16 18:35:50,None,13.006398,77.576240,12.906198,77.580666
94423,2018-04-16 18:36:00,None,13.006398,77.576230,12.906198,77.580666
95556,2018-04-17 09:15:06,None,12.926667,77.676445,12.983451,77.565520
108100,2018-04-18 14:35:29,None,12.924550,77.601400,12.908583,77.610650
112672,2018-04-18 18:12:45,None,13.016129,77.658930,12.901529,77.587370
122027,2018-04-19 10:14:24,None,12.980063,77.570990,12.925259,77.549934
122281,2018-04-19 17:22:23,None,12.918148,77.543080,12.926031,77.676250
122350,2018-04-19 18:57:48,None,12.951048,77.695240,12.959455,77.580570
122351,2018-04-19 18:58:05,None,12.951048,77.695240,12.959455,77.580570
122352,2018-04-19 18:58:23,None,12.951048,77.695240,12.959455,77.580570
122356,2018-04-19 19:05:56,None,12.902535,77.618706,12.959455,77.580570
136060,2018-04-20 08:16:25,None,12.908314,77.567604,12.942117,77.575360
158694,2018-04-24 17:19:35,None,12.923094,77.598700,12.878379,77.580666
158792,2018-04-24 20:15:44,None,12.929340,77.619514,12.959172,77.697420
159243,2018-04-24 21:05:02,None,12.954801,77.694824,12.878901,77.608986
161636,2018-04-24 10:15:04,None,12.909137,77.662940,12.965484,77.701744
162265,2018-04-24 19:41:27,None,12.981416,77.606060,12.927923,77.627106
163598,2018-04-24 07:29:19,None,12.922759,77.542250,12.927923,77.627106
178183,2018-04-26 18:42:00,None,13.012655,77.626020,13.002808,77.541110
179486,2018-04-26 17:11:03,None,12.952426,77.536736,13.011957,77.647130
...,...,...,...,...,...,...
3605061,2018-12-18 11:57:17,None,12.927660,77.686650,12.922863,77.681170
3605062,2018-12-18 11:57:17,None,12.927660,77.686650,12.922863,77.681170
3632917,2018-12-19 12:16:50,None,12.927602,77.686720,12.922863,77.681170
3657846,2018-12-20 12:12:36,None,12.927574,77.686800,12.922863,77.681170
3682866,2018-12-21 12:20:21,None,12.927614,77.686770,12.922863,77.681170
3739037,2018-12-24 12:07:49,None,12.927579,77.686790,12.922863,77.681170
3769356,2018-12-26 12:14:44,None,12.927484,77.686740,12.922863,77.681170
3786442,2018-12-27 12:04:55,None,12.927741,77.686800,12.922863,77.681170
3804359,2018-12-28 12:07:49,None,12.927632,77.686750,12.922863,77.681170
4227318,2019-01-14 11:44:29,None,12.927636,77.686780,12.922863,77.681170
4250833,2019-01-15 11:56:36,None,12.927562,77.686800,12.922863,77.681170
4272916,2019-01-16 11:59:30,None,12.927469,77.686780,12.922863,77.681170
4316150,2019-01-17 12:24:41,None,12.927527,77.686780,12.922863,77.681170
4316153,2019-01-17 12:26:50,None,12.927625,77.686600,12.922863,77.681170
4419722,2019-01-21 12:00:27,None,12.927668,77.686770,12.922863,77.681170
4453792,2019-01-22 12:01:27,None,12.927593,77.686780,12.922863,77.681170
4479107,2019-01-23 11:57:06,None,12.927815,77.686810,12.922863,77.681170
4510166,2019-01-24 12:02:20,None,12.927711,77.686820,12.922863,77.681170
4544335,2019-01-25 12:02:06,None,12.927807,77.686830,12.922863,77.681170
4544338,2019-01-25 12:03:52,None,12.927636,77.686760,12.922863,77.681170
4601882,2019-01-27 16:51:17,None,12.928094,77.681240,12.916546,77.641990
4621723,2019-01-28 13:09:38,None,12.917687,77.623590,12.927660,77.686740
4621768,2019-01-28 14:10:10,None,12.927606,77.686874,12.922863,77.681170
4686802,2019-01-30 13:54:35,None,12.927850,77.686830,12.922863,77.681170
4717149,2019-01-31 13:51:35,None,12.927985,77.686830,12.922863,77.681170
4839283,2019-02-04 13:42:19,None,12.927609,77.686806,12.922863,77.681170
4839284,2019-02-04 13:42:19,None,12.927609,77.686806,12.922863,77.681170
4839289,2019-02-04 13:44:37,None,12.927609,77.686806,12.922863,77.681170
4839290,2019-02-04 13:47:24,None,12.927609,77.686806,12.922863,77.681170
4911110,2019-02-06 12:05:02,None,12.927673,77.686620,12.922863,77.681170

In [23]:
data.number.replace(' None',-1,inplace=True)

In [26]:
data[data.number == -1]

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng
5879,2018-04-07 11:28:40,-1,12.916193,77.673790,12.960270,77.701230
42173,2018-04-11 08:40:23,-1,12.890977,77.603355,12.927923,77.627106
46564,2018-04-11 10:23:53,-1,13.007046,77.645710,12.905373,77.650700
49354,2018-04-11 21:35:35,-1,12.887746,77.579155,12.980646,77.664910
72478,2018-04-13 08:16:48,-1,13.006568,77.546900,12.999281,77.679970
81482,2018-04-15 01:59:26,-1,12.949549,77.606270,12.936069,77.605484
85462,2018-04-16 19:06:06,-1,12.967744,77.637550,13.004017,77.687775
85476,2018-04-16 19:22:08,-1,12.919025,77.592120,12.960986,77.638730
90853,2018-04-16 10:46:44,-1,12.886070,77.647160,12.903759,77.561844
90854,2018-04-16 10:47:15,-1,12.886070,77.647160,12.903759,77.561844
94422,2018-04-16 18:35:50,-1,13.006398,77.576240,12.906198,77.580666
94423,2018-04-16 18:36:00,-1,13.006398,77.576230,12.906198,77.580666
95556,2018-04-17 09:15:06,-1,12.926667,77.676445,12.983451,77.565520
108100,2018-04-18 14:35:29,-1,12.924550,77.601400,12.908583,77.610650
112672,2018-04-18 18:12:45,-1,13.016129,77.658930,12.901529,77.587370
122027,2018-04-19 10:14:24,-1,12.980063,77.570990,12.925259,77.549934
122281,2018-04-19 17:22:23,-1,12.918148,77.543080,12.926031,77.676250
122350,2018-04-19 18:57:48,-1,12.951048,77.695240,12.959455,77.580570
122351,2018-04-19 18:58:05,-1,12.951048,77.695240,12.959455,77.580570
122352,2018-04-19 18:58:23,-1,12.951048,77.695240,12.959455,77.580570
122356,2018-04-19 19:05:56,-1,12.902535,77.618706,12.959455,77.580570
136060,2018-04-20 08:16:25,-1,12.908314,77.567604,12.942117,77.575360
158694,2018-04-24 17:19:35,-1,12.923094,77.598700,12.878379,77.580666
158792,2018-04-24 20:15:44,-1,12.929340,77.619514,12.959172,77.697420
159243,2018-04-24 21:05:02,-1,12.954801,77.694824,12.878901,77.608986
161636,2018-04-24 10:15:04,-1,12.909137,77.662940,12.965484,77.701744
162265,2018-04-24 19:41:27,-1,12.981416,77.606060,12.927923,77.627106
163598,2018-04-24 07:29:19,-1,12.922759,77.542250,12.927923,77.627106
178183,2018-04-26 18:42:00,-1,13.012655,77.626020,13.002808,77.541110
179486,2018-04-26 17:11:03,-1,12.952426,77.536736,13.011957,77.647130
...,...,...,...,...,...,...
8037877,2019-04-03 12:28:54,-1,12.935625,77.690730,12.972302,77.679726
8131953,2019-04-04 22:31:31,-1,12.995393,77.573400,12.955334,77.594000
8131954,2019-04-04 22:31:57,-1,12.995393,77.573400,12.955334,77.594000
8131957,2019-04-04 22:33:31,-1,12.995618,77.573180,12.955334,77.594000
8131959,2019-04-04 22:34:01,-1,12.995618,77.573180,12.955334,77.594000
8131960,2019-04-04 22:34:42,-1,12.995618,77.573180,12.955334,77.594000
8131962,2019-04-04 22:35:43,-1,12.995618,77.573180,12.955334,77.594000
8131963,2019-04-04 22:36:21,-1,12.995618,77.573180,12.955334,77.594000
8131964,2019-04-04 22:36:27,-1,12.995618,77.573180,12.955334,77.594000
8131966,2019-04-04 22:37:30,-1,12.995738,77.573280,12.955334,77.594000
8131970,2019-04-04 22:38:17,-1,12.995756,77.573600,12.953885,77.592606
8131973,2019-04-04 22:41:50,-1,12.995752,77.573440,12.955334,77.594000
8131976,2019-04-04 22:43:16,-1,12.995752,77.573440,12.955334,77.594000
8131978,2019-04-04 22:43:21,-1,12.995752,77.573440,12.955334,77.594000
8131982,2019-04-04 22:46:06,-1,12.995752,77.573440,12.955334,77.594000
8131984,2019-04-04 22:48:02,-1,12.995752,77.573440,12.955334,77.594000
8205474,2019-04-05 16:00:56,-1,12.929848,77.590416,12.936819,77.598290
8205476,2019-04-05 16:01:09,-1,12.929848,77.590416,12.936819,77.598290
8205500,2019-04-05 16:10:02,-1,12.930007,77.590280,12.936819,77.598290
8205501,2019-04-05 16:10:13,-1,12.930007,77.590280,12.936819,77.598290
8205502,2019-04-05 16:10:19,-1,12.930007,77.590280,12.936819,77.598290
8205506,2019-04-05 16:13:44,-1,12.931062,77.590030,12.936819,77.598290
8255645,2019-04-05 10:43:24,-1,12.908763,77.611540,12.911067,77.651960
8255646,2019-04-05 10:43:28,-1,12.908763,77.611540,12.911067,77.651960
8255649,2019-04-05 10:43:35,-1,12.908763,77.611540,12.911067,77.651960
8255652,2019-04-05 10:44:03,-1,12.908763,77.611540,12.911067,77.651960
8255676,2019-04-05 10:49:14,-1,12.908763,77.611540,12.911067,77.651960
8262046,2019-04-06 17:09:33,-1,12.963455,77.653530,12.911993,77.647316
8262047,2019-04-06 17:09:44,-1,12.963455,77.653530,12.911993,77.647316
8343828,2019-04-07 06:49:38,-1,12.903468,77.637080,12.916259,77.675476

In [27]:
data.number = data.number.apply(int)

In [28]:
data = data[['ts','number']]

In [32]:
data.to_csv(f'C:/Users/pipatra.NSN-INTRA/Desktop/Anaconda/Projects/21-Sept/Rapido(Like_uber)/data/Clean_Rapido_data.csv',index=False)